  .play-font{
      font-family: 'Play', sans-serif !important;
    }
    .logo{
      /*font-size: 55px;*/
      color: #4B4848;
    }
    
    .uppercase, .menu a {
      text-transform: uppercase;
    }

    .menu a, .arial {
      font-family: 'Arial', sans-serif;
    }
    @font-face {
      font-family: 'Georgia';
  /*    src: url('georgia.ttf') format('truetype');*/
    }
    .menu a {
      font-size: 10px;
      font-weight: bold;
      cursor: pointer;
    }
    .bg-orange{
      background-color: #F26D21;
    }
    .blue{
      color: #2D8CFF;
    }
    .grey {
      color: #95989A;
    }
    .bg-blue{
      background-color: #2D8CFF;
    }
    .drop:after {
      content: "▼";
      padding: 12px 3px;
    }
    .nextsection{

    }
    .nextsection-p{
/*      font-weight: bold;*/
      color: #4B4848;
/*      padding: 100px 230px;*/
    }
    .lightblue{
      background: #A8CCF8;
    }
  /*  .georgia {
      font-family: Georgia;
    }*/